@font-face {
    font-family: "Alte Haas Bold";
    src: url("../fonts/AlteHaasGroteskBold.ttf")
}

@font-face {
    font-family: "Alte Haas Regular";
    src: url("../fonts/AlteHaasGroteskRegular.ttf")
}

@font-face {
    font-family: "Dreamwood";
    src: url("/fonts/Dreamwood\ PERSONAL\ USE\ ONLY.ttf")
}

wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 1.9fr 1fr 2fr 3fr;
    height: 1024px;
    width: 700px;
    background-color: #e58036;
    margin: 0 auto;
    color: white;
}

#main-nav a, a:link {
    text-decoration: none;
    color: white;
}

#main-nav a:visited {
    text-decoration: none;
    color: white;
}

#main-nav a:hover {
    text-decoration: underline;
}

#main-nav a:active {
    color: white;
    background-color: black;
}

#main-nav ul {
    list-style-type: none;
    font-family: "Alte Haas Bold";
}

#main-nav ul li {
    display: inline;
    margin: 5%;
}

#main-image {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

h1#vinetta-text {
    font-family: "Dreamwood";
    font-size: 72px;
    grid-column: 2 /3;
    grid-row: 3 / 4;
    z-index: 2;
    position: relative;
    left: -2.33em;
    top: -0.75em;
}

h1#miller-text {
    font-family: "Dreamwood";
    font-size: 72px;
    grid-column: 2 /3;
    grid-row: 3 / 4;
    z-index: 2;
    position: relative;
    left: -0.75em;
}

h2 {
    font-family: "Alte Haas Bold";
    font-size: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    position: relative;
    bottom: 0.25em;
    left: 1em;
}

nav ul {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

p {
    font-family: "Alte Haas Regular";
    transform: rotate(-90deg);
    position: relative;
    top: 2.5em;
    left: -3.8em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 14px;
}
